*.sdf
*.suo
*.vcxproj.user
*.hmap
*.o
*.dia
*.d

!*.lib
!*.a

*.build
*/vs2010/*/Debug/*
*/vs2010/*/Release/*
*/vs2010/Debug/*
*/vs2010/Release/*
*/vs2010/ipch/*

*/vs2015/*/Debug/*
*/vs2015/*/Release/*
*/vs2015/Debug/*
*/vs2015/Release/*
*/vs2015/ipch/*

*/xcode/*/build/*
xcuserdata



